# Dependencies
node_modules
.pnp
.pnp.js
.yarn

# Git
.git

# Husky
.husky

# Build outputs
.next
out
build
dist

# Testing reports
coverage/

# Cache
.cache
.eslintcache
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package manager files
*.lock
yarn.lock
package-lock.json
pnpm-lock.yaml

# Environment files
.env*
!.env.example

# Misc
.DS_Store
*.pem
.vercel

# Public assets
public/*
!public/*.js
!public/*.css
!public/*.json

# Minified files
*.min.js
*.min.css

# Generated types
next-env.d.ts
